<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторы</title>
    <link th:href="@{/styles/Style.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <h2>Авторы</h2>
    <h3>Добавить автора:</h3>
    <form action="#" th:action="@{/authors/create}" th:object="${author}" method="post">
        <h4>Фамилия: <input type="text" th:name="surname" required></h4>
        <h4>Имя: <input type="text" th:name="name"></h4>
        <h4>Дата рождения: <input type="date" th:name="dateOfBorn"></h4>
        <h4>Стаж: <input type="number" th:name="experience" th:min="0"></h4>
        <input type="submit" value="Создать">
    </form>

    <h3>Список авторов:</h3>
    <div>
        <form action="#" th:action="@{/authors/searchSurname}" th:object="${surname}" method="post">
            <p>Поиск по фамилии:</p>
            <input type="text" th:name="surname" width="500px">
            <input type="submit" value="Поиск">
            <br><br>
        </form>

        <a th:href="@{/authors}">Сброс</a>
    </div>

    <br><br>
    <table th:border="1" th:cellpadding="6" th:cellspacing="0">
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Дата рождения</td>
            <td>Стаж</td>
            <td></td><td></td>
        </tr>
        <tr th:each="author: ${authors}">
            <td th:text="${author.getSurname()}"></td>
            <td th:text="${author.getName()}"></td>
            <td th:text="${author.getDateOfBorn()}"></td>
            <td th:text="${author.getExperience()}"></td>
            <td>
                <form action="#" th:action="@{/authors/update/{id}(id=${author.getId()})}" method="get">
                    <input type="submit" value="Изменить">
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/authors/delete/{id}(id=${author.getId()})}" method="post">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </table>
    <br><a th:href="@{/collections}">Назад</a>
</div>
</body>
</html>