<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбранный автор</title>
    <link th:href="@{/styles/Style.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <h2>Автор</h2>
    <form action="#" th:action="@{/authors/update/{id}(id=${author.getId()})}" th:object="${newAuthor}" method="post">
        <h3>Фамилия: <input type="text" th:name="surname" th:value="${author.getSurname()}"></h3>
        <h4>Имя: <input type="text" th:name="name" th:value="${author.getName()}"></h4>
        <h4>Дата рождения: <input type="date" th:name="dateOfBorn" th:value="${author.getDateOfBorn()}"></h4>
        <h4>Стаж: <input type="number" th:name="experience" th:value="${author.getExperience()}"></h4>
        <br>
        <input type="hidden" th:name="id" th:value="${author.getId}">
        <input type="submit" value="Изменить">
    </form>
    <a th:href="@{/authors}">Назад</a>
</div>
</body>
</html>