h1 {
  color: #444444;
  font-size: 28px;
  font-weight: 800;
}

h2 {
  color: #555555;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: #666666;
  font-size: 22px;
  font-weight: 700;
}

h4 {
  color: #595959;
  font-size: 20px;
  font-weight: 800;
}

p {
  color: #666666;
  font-size: 18px;
  font-weight: 600;
}

body {
  text-align: center;
  background-color: #e1e3e6;
  font-family: 'Consolas', sans-serif;
}

div {
  width: max-content;
  height: max-content;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgb(70 74 77 / 20%);
  gap: 10px;
}

input {
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #9c9c9c;
  border-width: 2px;
  background-color: #e1e3e6;
  font-size: 16px;
  font-weight: bold;
  color: #4e4e4e;
}

input[type="submit"] {
  width: 150px;
  background-color: #9c9c9c;
  color: #f0f2f4;
}
    input[type="submit"]:hover {
      background-color: #828282;
      border-color: #828282;
    }

a {
  display: block;
  width: 180px;
  height: 15px;
  padding: 6px 0px 18px 0px;
  margin: 20px auto;
  border-radius: 10px;
  border: solid;
  border-color: #9c9c9c;
  border-width: 2px;
  font-size: 18px;
  background-color: #9c9c9c;
  color: #f0f2f4;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
    a:hover {
      background-color: #828282;
      border-color: #828282;
    }

select {
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #9c9c9c;
  border-width: 2px;
  background-color: #e1e3e6;
  font-size: 16px;
  font-weight: bold;
  color: #4e4e4e;
}

option {
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #9c9c9c;
  border-width: 2px;
  background-color: #e1e3e6;
  font-size: 16px;
  font-weight: bold;
  color: #4e4e4e;
}
